@{      //Codigo C#
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h2>Email: </h2>
<h3>@ViewData["email"]</h3>

<p>Use this area to provide additional information.</p>
